<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Title</title>

    <link th:replace="/fragments/index :: boostrap-css"/>
    <link th:replace="/fragments/index :: custom-css"/>
    <script th:replace="/fragments/index::js-scripts"></script>
</head>
<body>
    <h2>Welcome new student</h2>

    <!--Displaying values-->
    <h2 th:text="${students.get(0).firstName}"></h2>
    <h2 th:text="${students.get(0).lastName}"></h2>

    <!--Concatenation-->
    <h2 th:text="${'Hello '+students.get(0).firstName}"></h2>

    <!--Links-->
    <a th:href="@{http://cydeo.com}">Cydeo Home Page</a>
    <br>
    <br>
    <a th:href="@{/student/welcome}">To welcome page</a>
    <br>
    <br>

    <!--Adding parameters to Link-->
    <a th:href="@{/student/welcome(id=3)}">Link with parameter</a>
    <br>
    <br>
    <a th:href="@{/student/welcome(id=${students.get(0).firstName})}">Link with parameter from Model</a>
    <br>
    <br>

    <!--Iteration-->
    <ul>
        <li th:each="student : ${students}" th:text="${student.firstName}"></li>
    </ul>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.state}"></td>
        </tr>
        </tbody>
    </table>

    <!--Conditional logic-->
    <div th:text="${students.get(0).age > 25 ? 'ELIGIBLE' : 'NOT ELIGIBLE'}"></div>

    <div>
        <span th:if="${students.get(0).age == 'Arizona'}">Arizona</span>
        <span th:unless="${students.get(0).getState() == 'Arizona'}">Not Arizona</span>
    </div>

    <!--External text-->
    <div class="row">
        <div class="col-auto">
            <b>Text from external file: </b>
        </div>
        <div class="col-auto">
            <p th:text="#{index.page.message1}"></p>
        </div>
    </div>


    <!-- Fragments -->
    <div th:replace="/fragments/index :: footer-menu2">Footer2</div>



</body>
</html>